* {
  margin: 0px;
  padding: 0px;
}

body {
  font-family: 'Source Sans Pro',sans-serif;
}

header {
  position: fixed;
  width: 100%;
}

ul {
  padding: 0;
  list-style: none;
}

.fa .fa-search {
  position: relative;
  top: 2px;
}

.pinterest {
  display: flex;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid #EFEFEF;
}

.wrapper {
  margin: auto;
  width: 90%;
}

.pinterest li {
  font-weight: 600;
  padding: 8px 15px;
}

.pinterest__actions {
  margin-left: auto;
  width: 10%;
  display: flex;
  justify-content: space-between;
  color: #B5B5B5;
}

.pinterest__search {
  width: 78%;
  background-color: #EFEFEF;
  border-radius: 5px;
  display: flex;
  align-items: center;
}

.pinterest__search i {
  margin: 0 10px;
}

.pinterest__brand i.fa{
  color: #BD081C;
  font-size: 30px;
}

.pinterest input {
  padding: 5px;
  border-radius: 3px;
  border: 0px;
  width: 100%;
  background-color: transparent;
  font-size: 16px;
}

.box {
  display: flex;
  width: 80%;
  margin: auto;
  align-items: center;
}

.pinterest__actions i.fa {
  font-size: 21px;
}

.pinterest_submenu {
  display: flex;
  justify-content: center;
}

.pinterest_submenu {
  display: flex;
  justify-content: space-between;
  width: 89%;
  margin: 10px auto;
}

.pinterest_submenu div {
  padding: 20px 25px;
  font-weight: 700;
  border-radius: 6px;
  background-color: pink;
  color: white;
}

.pinterest_submenu div:first-child {
  background-color: #725F4E;
}

.pinterest_submenu div:nth-child(2) {
  background-color: #AB8B6F;
}

.pinterest_submenu div:nth-child(3) {
  background-color: #8C7863;
}

.pinterest_submenu div:nth-child(4) {
  background-color: #8D6D51;
}

.pinterest_submenu div:nth-child(4) {
  background-color: #927256;
}

.pinterest_submenu div:nth-child(5) {
  background-color: #9D964D;
}

.pinterest_submenu div:nth-child(6) {
  background-color: #82745C;
}

.pinterest_submenu div:nth-child(7) {
  background-color: #8C8484;
}

.pinterest_submenu div:nth-child(8) {
  background-color: #9B765B;
}

.pinterest_submenu div:nth-child(9) {
  background-color: #B28176;
}
